@tailwind base;

@tailwind components;

@tailwind utilities;

.curdmodel .overflow-hidden{
	position: fixed;
	right: 0;
	top: 0;
	width: 600px;
	height: 100vh;
}
.curdmodel .flex-grow{
	overflow-y: scroll!important;
}
.router-link-active{
	background: #f1f1f1;
}
.vue-avatar--wrapper{
	width: 30px!important;
    height: 30px!important;
    font: 11px / 50px Helvetica, Arial, sans-serif!important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}